<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LaunchServer" value="false"/>
    <!--<add key="ServerExe" value="AddressOfOpensim.exe"/>-->
    <add key="ServerExe" value="C:\Users\OpenVirtualWorlds\Desktop\Opensim-Timespan\OpenSim.exe"/>
    <add key="AutoRestart" value="true"/>
    <!--<add key="ProxyExe" value="C:\Users\OpenVirtualWorlds\Documents\John\Chimera\Bin\Chimera.exe"/>-->
    <add key="ProxyExe" value="Chimera.exe"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
