<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LaunchServer" value="false" />
    <!--<add key="ServerExe" value="AddressOfOpensim.exe"/>-->
    <add key="ServerExe" value="D:\\Work\\opensim-0.7.5\\bin\\OpenSim.exe"/>
    <add key="AutoRestart" value="true"/>
    <add key="ProxyExe" value="D:\\Work\\TARDIS\\Chimera\\Bin\\Chimera.exe"/>
  </appSettings>
</configuration>