<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LaunchServer" value="false"/>
    <!--<add key="ServerExe" value="AddressOfOpensim.exe"/>-->
    <add key="ServerExe" value="D:\\Work\\opensim-0.7.5\\bin\\OpenSim.exe"/>
    <add key="AutoRestart" value="true"/>
    <add key="ProxyExe" value="D:\\Work\\TARDIS\\Chimera\\Bin\\Chimera.exe"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
