<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="General" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Master" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Slave1" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Slave2" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <General>
    <add key="AutoStartMaster" value="true"/>
  </General>

  <Slave1>
    <add key="FirstName" value="Routing"/>
    <add key="LastName" value="God"/>
    <add key="Password" value="1245"/>
  </Slave1>

  <Slave2>
    <add key="FirstName" value="Routing"/>
    <add key="LastName" value="Project"/>
    <add key="Password" value="1245"/>
  </Slave2>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="FATAL"/>
        <AcceptOnMatch value="TRUE"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
    </appender>

    <appender name="ProxyTestGUILog" type="log4net.Appender.RollingFileAppender">
      <file value="ProxyTestGUILog.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="10"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>

    <appender name="FireEventAppender" type="WinGridProxy.FireEventAppender, WinGridProxy">
      <!--    	<filter type="log4net.Filter.LoggerMatchFilter">
        <LoggerToMatch value="OpenMetaverse" />
        <AcceptOnMatch value="true" />
</filter>-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="FATAL"/>
        <AcceptOnMatch value="TRUE"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
    </appender>

    <root>
      <level value="ALL"/>
      <!-- <appender-ref ref="LogFileAppender" /> -->
      <appender-ref ref="ConsoleAppender"/>
      <!-- <appender-ref ref="ProxyTestGUILog" /> -->
      <!-- <appender-ref ref="FireEventAppender" /> -->
    </root>

    <!--
    *   ALL (Low)
    * DEBUG
    * INFO
    * WARN
    * ERROR
    * FATAL
    * OFF (High)
-->
  </log4net>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
