<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="Config" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <appSettings>
    <add key="Test" value="From Dot Net"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <Config>
    <add key="ConfigFolder" value="../Config" />
    <add key="Overlay" value="Overlay.ini" />
  </Config>

</configuration>
