<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="General" type="System.Configuration.NameValueSectionHandler"/>
    <section name="MainWindow" type="System.Configuration.NameValueSectionHandler"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <General>
    <!--<add key="LoginURI" value="http://apollo.cs.st-andrews.ac.uk:8002"/>-->
    <add key="LoginURI" value="http://localhost:9000"/>
    
    <!--<add key="ViewerExe"        value="C:\Users\OpenVirtualWorlds\Documents\John\Armadillo-Phoenix\Bin\firestorm-bin.exe" />-->
    <!--<add key="ViewerExe"        value="C:\Users\Iain\Documents\John\Armadillo-Phoenix\Armadillo\Bin\firestorm-bin.exe" />-->
    <add key="ViewerExe"        value="../../Armadillo-Phoenix/Armadillo/Bin/firestorm-bin.exe" />
    <!--<add key="ViewerExe"        value="D:\Work\TARDIS\Armadillo-Phoenix\Armadillo\Bin\firestorm-bin.exe" />-->
    <add key="ViewerArguments"  value='--channel "Firestorm-Release" --settings settings_firestorm_release_v4.xml --set InstallLanguage en' />
    <add key="ViewerToggleHUDKey"  value="^%{F1}" />

    <!--<add key="ViewerExe"        value="C:\Program Files (x86)\Firestorm-Release\Firestorm-Release.exe" />-->

    <!--<add key="ViewerExe"        value="C:\Users\Iain\Desktop\Viewers\Chimera-Viewer\secondlife-bin.exe" />-->
    <!--<add key="ViewerExe"        value="E:\Armadillo-Phoenix\Armadillo\Bin\firestorm-bin.exe" />-->
    <!--<add key="ViewerExe"        value="E:\Armadillo-Phoenix\build-vc100\newview\Release\firestorm-bin" />-->
    <!--<add key="WorkingDirectory" value="E:\Armadillo-Phoenix\indra\newview\" />-->

    <!--<add key="ViewerExe"        value="D:\Work\TARDIS\Armadillo\Armadillo-Phoenix\Armadillo\Bin\firestorm-bin"/>-->
    <!--<add key="ViewerExe"        value="D:\Work\TARDIS\Armadillo\Armadillo-Phoenix\build-vc100\newview\Release\firestorm-bin"/>-->
    <!--<add key="WorkingDirectory" value="D:\Work\TARDIS\Armadillo\Armadillo-Phoenix\indra\newview\"/>-->
    <!--<add key="ViewerExe"        value="D:\Work\TARDIS\Armadillo\viewer-release\build-vc100\newview\Release\secondlife-bin"/>-->
    <!--<add key="WorkingDirectory" value="D:\Work\TARDIS\Armadillo\viewer-release\indra\newview\"/>-->

    <add key="AutoRestart" value="true" />

    <add key="CameraPosition" value="410,147,75" />
    <!--<add key="CameraPosition" value="128,128,25" />-->
    <add key="CameraPitch" value="0" />
    <add key="CameraYaw" value="84" />
    <add key="EyePosition" value="0,0,0" />

    <add key="KinectPosition" value="1000,0,0" />
    <add key="KinectYaw" value="180" />
    <add key="KinectPitch" value="0" />
    <add key="KinectAutostart" value="true" />
    <add key="KinectEnableHead" value="true" />

    <add key="KinectMove-TimespanEnabled" value="true" />
    <add key="KinectEnabled" value="true" />
    <add key="MouseEnabled" value="true" />
    <add key="FlythroughEnabled" value="true" />
    <add key="KeyboardEnabled" value="true" />
    <add key="HeightmapBotEnabled" value="true" />

    <add key="XRegions" value="3" />
    <add key="YRegions" value="3" />
    <add key="HeightmapBotFirstName" value="Heightmap" />
    <add key="HeightmapBotLastName" value="Bot" />
    <add key="HeightmapBotPassword" value="clientPassword" />
    <add key="HeightmapBotAutoLogin" value="true" />
    <add key="HeightmapBotAutoLogout" value="true" />
    <add key="HeightmapBotStartIsland" value="Timespan 1" />

    <add key="InitOverlay" value="true" />
    <add key="IdelTimeout" value="30000" />
    <add key="EnableIdleState" value="true" />
  </General>

  <MainWindow>
    <add key="IsMaster" value="true" />
    <add key="AutoStartProxy" value="true"/>
    <add key="AutoStartViewer" value="true"/>
    <add key="ProxyPort" value="8080"/>
    <add key="ProxyGrid" value="8080"/>
    <add key="FirstName" value="Master"/>
    <add key="LastName" value="Client"/>
    <add key="Password" value="clientPassword"/>
    <!--<add key="FirstName" value="Routing"/>-->
    <!--<add key="LastName" value="God"/>-->
    <!--<add key="Password" value="1245"/>-->

    <add key="AlwaysOnTop" value="true" />
    <add key="Fullscreen" value="true" />
    <add key="Monitor" value="\\.\DISPLAY2" />
    <add key="LaunchOverlay" value="true" />
    <add key="ControlPointer" value="true" />

    <add key="TopLeft" value="1000,-500,500" />
    <add key="Yaw" value="0" />
    <add key="Pitch" value="0" />
    <add key="Width" value="1000" />
    <add key="Height" value="1000" />
  </MainWindow>
 
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
        <levelMax value="FATAL"/>
        <AcceptOnMatch value="TRUE"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
    </appender>

    <appender name="ProxyTestGUILog" type="log4net.Appender.RollingFileAppender">
      <file value="ProxyTestGUILog.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="10"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>

    <appender name="FireEventAppender" type="WinGridProxy.FireEventAppender, WinGridProxy">
      <!--    	
      <filter type="log4net.Filter.LoggerMatchFilter">
        <LoggerToMatch value="OpenMetaverse" />
        <AcceptOnMatch value="true" />
      </filter>
      -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
        <levelMax value="FATAL"/>
        <AcceptOnMatch value="TRUE"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
    </appender>

    <root>
      <level value="ALL"/>
      <!-- <appender-ref ref="LogFileAppender" /> -->
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="FireEventAppender"/>
    </root>

    <!--
    *   ALL (Low)
    * DEBUG
    * INFO
    * WARN
    * ERROR
    * FATAL
    * OFF (High)
    -->
  </log4net>

</configuration>