<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="General" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Master" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Kinect" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Slave1" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Slave2" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Slave3" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Slave4" type="System.Configuration.NameValueSectionHandler"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <General>
    <add key="LoginURI" value="http://apollo.cs.st-andrews.ac.uk:8002"/>
    <!--<add key="LoginURI" value="http://localhost:9000"/>-->
    <add key="UseGrid" value="false"/>
    <add key="UseSetFollowCamPackets" value="true"/>
    <add key="MasterPort" value="8090"/>
    <add key="MasterAddress" value="localhost"/>
    
    <!--<add key="ViewerExe" value="C:\Users\Iain\Documents\John\Armadillo-Phoenix\Armadillo\Bin\firestorm-bin.exe" />-->
    <!--<add key="ViewerExe" value="C:\Users\Iain\Desktop\Viewers\Chimera-Viewer\secondlife-bin.exe" />-->
    <add key="ViewerExe" value="C:\Users\Iain\Documents\John\Armadillo-Phoenix\Armadillo\Bin\firestorm-bin.exe" />
    
    <!--<add key="ViewerExe" value="C:\Users\Iain\Documents\John\Armadillo-Phoenix\build-vc100\newview\Release\firestorm-bin" />-->
    <!--<add key="WorkingDirectory" value="C:\Users\Iain\Documents\John\Armadillo-Phoenix\indra\newview\" />-->
    
    
    
    <!--<add key="ViewerExe" value="D:\Work\TARDIS\Armadillo\Armadillo-Phoenix\Armadillo\Bin\firestorm-bin"/>-->
    
    <!--<add key="ViewerExe" value="D:\Work\TARDIS\Armadillo\Armadillo-Phoenix\build-vc100\newview\Release\firestorm-bin"/>-->
    <!--<add key="WorkingDirectory" value="D:\Work\TARDIS\Armadillo\Armadillo-Phoenix\indra\newview\"/>-->
    
    <!--<add key="ViewerExe" value="D:\Work\TARDIS\Armadillo\viewer-release\build-vc100\newview\Release\secondlife-bin"/>-->
    <!--<add key="WorkingDirectory" value="D:\Work\TARDIS\Armadillo\viewer-release\indra\newview\"/>-->
    
    
    <add key="Master" value="true"/>
    <add key="SlaveCount" value="3"/>
    <add key="FirstSlave" value="1"/>
  </General>

  <Master>
    <add key="AutoStartMaster" value="true"/>
    <add key="AutoStartProxy" value="false"/>
    <add key="AutoStartClient" value="false"/>
    <add key="GUI" value="true"/>
    <add key="ProxyPort" value="8080"/>
    <add key="ProxyGrid" value="8080"/>
    <!--<add key="FirstName" value="Master"/>-->
    <!--<add key="LastName" value="Client"/>-->
    <!--<add key="Password" value="clientPassword"/>-->
    <add key="FirstName" value="Routing"/>
    <add key="LastName" value="God"/>
    <add key="Password" value="1245"/>

    <add key="EyePosition" value="-1000,0,144" />
    <add key="WorldPosition" value="128,128,30" />
    <add key="Diagonal" value="548.64" />
    <add key="AspectRatio" value=".5521" />
  </Master>

  <Kinect>
    <add key="Position" value="1500,900,600" />
    <add key="Yaw" value="-160" />
    <add key="Pitch" value="0" />
  </Kinect>

  <Slave1>
    <add key="AutoConnectSlave" value="true"/>
    <add key="AutoStartProxy" value="true"/>
    <add key="AutoStartClient" value="false"/>
    <add key="GUI" value="true"/>
    <add key="ProxyPort" value="8081"/>
    <add key="FirstName" value="Slave1"/>
    <add key="LastName" value="Client"/>
    <add key="Password" value="clientPassword"/>
    <add key="ProxyGrid" value="8081"/>

    <add key="ScreenPosition" value="-80,-424,-15" />
    <add key="Yaw" value="34" />
    <add key="Pitch" value="0" />
    <add key="Diagonal" value="477.52" />
    <add key="AspectRatio" value="1.4630" />
  </Slave1>

  <Slave2>
    <add key="AutoConnectSlave" value="true"/>
    <add key="AutoStartProxy" value="true"/>
    <add key="AutoStartClient" value="false"/>
    <add key="GUI" value="true"/>
    <add key="ProxyPort" value="8082"/>
    <add key="FirstName" value="Slave2"/>
    <add key="LastName" value="Client"/>
    <add key="Password" value="clientPassword"/>
    <add key="ProxyGrid" value="8082"/>

    <add key="Diagonal" value="629.92" />
    <add key="AspectRation" value="0.5545" />
	  <!--<add key="Diagonal" value="1988.826" />-->
	  <!--<add key="AspectRation" value="0.6059" />-->
  </Slave2>

  <Slave3>
    <add key="AutoConnectSlave" value="true"/>
    <add key="AutoStartProxy" value="false"/>
    <add key="AutoStartClient" value="false"/>
    <add key="GUI" value="true"/>
    <add key="ProxyPort" value="8083"/>
    <add key="FirstName" value="Slave3"/>
    <add key="LastName" value="Client"/>
    <add key="Password" value="clientPassword"/>
    <add key="ProxyGrid" value="8083"/>

    <add key="ScreenPosition" value="-94.3,510,0" />
    <add key="Yaw" value="-22" />
    <add key="Pitch" value="0" />
    <add key="Diagonal" value="541.02" />
    <add key="AspectRatio" value="0.5474" />
  </Slave3>

  <Slave4>
    <add key="AutoConnectSlave" value="true"/>
    <add key="AutoStartProxy" value="false"/>
    <add key="AutoStartClient" value="true"/>
    <add key="GUI" value="true"/>
    <add key="ProxyPort" value="8084"/>
    <add key="FirstName" value="Slave4"/>
    <add key="LastName" value="Client"/>
    <add key="Password" value="clientPassword"/>
    <add key="ProxyGrid" value="8084"/>

    <add key="Diagonal" value="62.992" />
    <add key="AspectRatio" value="0.5545" />
  </Slave4>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
        <levelMax value="FATAL"/>
        <AcceptOnMatch value="TRUE"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
    </appender>

    <appender name="ProxyTestGUILog" type="log4net.Appender.RollingFileAppender">
      <file value="ProxyTestGUILog.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="10"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>

    <appender name="FireEventAppender" type="WinGridProxy.FireEventAppender, WinGridProxy">
      <!--    	<filter type="log4net.Filter.LoggerMatchFilter">
        <LoggerToMatch value="OpenMetaverse" />
        <AcceptOnMatch value="true" />
</filter>-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
        <levelMax value="FATAL"/>
        <AcceptOnMatch value="TRUE"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
    </appender>

    <root>
      <level value="ALL"/>
      <!-- <appender-ref ref="LogFileAppender" /> -->
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="FireEventAppender"/>
    </root>

    <!--
    *   ALL (Low)
    * DEBUG
    * INFO
    * WARN
    * ERROR
    * FATAL
    * OFF (High)
-->
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
